{{ template "header.html" . }}

<div class="card w-75 mt-5 shadow-sm">
  <div class="card-body">
    <h4 class="card-title">Log in to {{ issuer }}</h4>
    {{ range $c := .Connectors }}
    <div class="mt-3">
      <a href="{{ $c.URL }}" target="_self">
        <button class="btn btn-light shadow-sm dex-btn">
          <span class="dex-btn-icon dex-btn-icon--{{ $c.Type }}"></span>
          <span class="dex-btn-text">Log in with {{ $c.Name }}</span>
        </button>
      </a>
    </div>
    {{ end }}
  </div>
</div>

{{ template "footer.html" . }}
