{{ template "header.html" . }}

<div class="card w-75 mt-5 shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 ood-logo-container">
        {{ if "loginLogo" | extra }}
          <img class="w-100 ood-logo" src="{{ "loginLogo" | extra }}" alt="Logo">
        {{ else }}
          <img class="w-100 ood-logo" src="{{ url .ReqPath "theme/logo.png" }}" alt="Logo">
        {{ end }}
      </div>
    </div>

    <div class="mt-4 mb-3">
      {{ if "loginTitle" | extra }}
        <h5 class="card-title">{{ "loginTitle" | extra }}</h5>
      {{ else }}
        <h5 class="card-title">Log in with your HPC username and password.</h5>
      {{ end }}
    </div>

    {{ if "loginAlertMessage" | extra }}
      <div class="alert alert-{{ "loginAlertType" | extra }}">
        {{ "loginAlertMessage" | extra }}
      </div>
    {{ end }}

    <form method="post" action="{{ .PostURL }}">
      <div class="form-group">
        <label for="username">{{ .UsernamePrompt }}</label>
        <input tabindex="0" required="true" aria-required="true" autocomplete="username" id="username" name="login" type="text" class="form-control" placeholder="{{ "usernamePlaceholder" | extra }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus{{ end }}>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input tabindex="0" required="true" aria-required="true" autocomplete="current-password" id="password" name="password" type="password" class="form-control{{ if .Invalid }} is-invalid{{ end }}" placeholder="{{ "passwordPlaceholder" | extra }}" {{ if .Invalid }} autofocus{{ end }}>
        {{ if .Invalid }}
        <div class="invalid-feedback">
          Your {{ .UsernamePrompt }} and/or password do not match.
        </div>
        {{ end }}
      </div>

      {{ if "loginButtonText" | extra }}
        <button tabindex="0" id="submit-login" type="submit" class="btn btn-dark">{{ "loginButtonText" | extra }}</button>
      {{ else }}
        <button tabindex="0" id="submit-login" type="submit" class="btn btn-dark">Log in with your HPC account</button>
      {{ end }}

      {{ if .BackLink }}
      <div class="mt-2">
        <a tabindex="0" class="btn-link" href="javascript:history.back()">Select another login method</a>
      </div>
      {{ end }}
    </form>
  </div>
</div>

{{ template "footer.html" . }}
